In [14]:
import pandas as pd

In [305]:
df=pd.read_csv("/home/prabhat/Desktop/pandas_pokemon/amay code/a.csv",index_col="#")

In [340]:
cond={
	"group" : "row operations",
	"task" : "add",
	"config" : {
		"column_list" : ["Pending Qty","Unit Amt","Total Amt"],
		"function" : "count" #can contain mean, mode, median, variance, std deviation, unique count #assuming we get in quotes
	}
}

In [341]:

function=cond["config"]["function"]
if function=="mean":
    function=="average"

col=cond["config"]["column_list"]

b=list(df.index)
for i in range(len(b)):
    if b[i]=="count" or b[i]=="unique count" or b[i]=="sum" or b[i]=="average" or b[i]=="mode" or b[i]=="median" or b[i]=="mean" or b[i]=="variance":
        leng=i
        break

for i in col:
    try:
        a=df.iloc[0:leng].describe(include='all').loc[function][i]
        print("HERE")
    except:
        print(" ")
        if function=="sum":
            a=df.iloc[0:leng][i].sum()
        if function=="variance":
            a=df.iloc[0:leng][i].var()
        if function=="mode":
            a=df.iloc[0:leng][i].mode(dropna=True)[0]
        if function=="median":
            a=df.iloc[0:leng][i].median(skipna = True)
        if function=="unique count":
            a=len(pd.unique(df.iloc[0:leng][i]))
    if str(function) not in df.index:
        df=df.append(pd.Series(name=function))
    df.loc[function,i]=a
    # print(df.loc[function,i])

HERE
HERE
HERE

In [342]:
df.head()

,SO Number,Document Internal ID,Posting Date,Execution Date,Customer Name,ItemName,Pending Qty,Unit Amt,Total Amt,Pending Days,Status,Sales Employee Name,SO Pending,Order Branch Name,Aging Range
#,,,,,,,,,,,,,,,
1,6004.0,89728.0,07/20/2019,07/20/2019,MAHINDRA & MAHINDRA LIMITED,Installation Charges,1.0,20000.0,20000.0,688.0,NaN,Pankaj,Other Reason,Mumbai,>15 Days
2,8761.0,92651.0,09/06/2019,07/31/2021,VOLTEK ENGINEERING,LIEBERT 5 KVA LXI UPS,1.0,330000.0,330000.0,640.0,SO Pending for Material not -LIEBERT 5 KVA LXI...,Amar chavan,SO Pending for Material not available,Mumbai,>15 Days
3,15140.0,99377.0,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
4,15140.0,99377.0,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
5,15140.0,99377.0,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days

In [343]:
df.tail()

,SO Number,Document Internal ID,Posting Date,Execution Date,Customer Name,ItemName,Pending Qty,Unit Amt,Total Amt,Pending Days,Status,Sales Employee Name,SO Pending,Order Branch Name,Aging Range
#,,,,,,,,,,,,,,,
776,3483.0,127360.0,06/07/2021,05/31/2021,MECHATRONICS SYSTEMS PRIVATE LIMITED,Links U-12 25 Inch,5.000000,0.000000e+00,0.000000e+00,NaN,NaN,Sachin Kasture,Other Reason,Pune,>7 Days
777,3487.0,127364.0,06/07/2021,NaN,MATCHWELL ENGINEERING PVT LTD,Comprehensive AMC,1.000000,1.050000e+04,1.050000e+04,NaN,NaN,Sachin Kudale,Other Reason,Pune,>7 Days
mean,NaN,NaN,NaN,NaN,NaN,NaN,21.569936,1.788111e+04,1.185554e+05,NaN,NaN,NaN,NaN,NaN,NaN
sum,NaN,NaN,NaN,NaN,NaN,NaN,16759.840000,1.389362e+07,9.211754e+07,NaN,NaN,NaN,NaN,NaN,NaN
count,NaN,NaN,NaN,NaN,NaN,NaN,777.000000,7.770000e+02,7.770000e+02,NaN,NaN,NaN,NaN,NaN,NaN

In [344]:
def row_addition_utility(self,cond,df):
	
	function=cond["config"]["function"]
	if function=="mean":
		function=="average"
	
	col=cond["config"]["column_list"]
	
	#Checks the columns ka existence.
	s = SelectedUtilities()
	msg = s.column_exists_validator(col, self.df)
	if not msg["val"]:
		return msg

	col=cond["config"]["column_list"]
	b=list(df.index)
	for i in range(len(b)):
		if b[i]=="count" or b[i]=="distinct count" or b[i]=="sum" or b[i]=="average" or b[i]=="mode" or b[i]=="median" or b[i]=="mean" or b[i]=="variance" or b[i]=="mean":
			leng=i
			break
	
	

	for i in col:
		try:
			a=df.iloc[0:leng].describe(include='all').loc[function][i]
		except:
			print(" ")
			if function=="sum":
				a=df.iloc[0:leng][i].sum()
			if function=="variance":
				a=df.iloc[0:leng][i].var()
			if function=="mode":
				a=df.iloc[0:leng][i].mode(dropna=True)[0]
			if function=="median":
				a=df.iloc[0:leng][i].median(skipna = True)
			if function=="distinct count":
				a=len(pd.unique(df.iloc[0:leng][i]))
           
		if str(function) not in df.index:
			df=df.append(pd.Series(name=function))
		df.loc[function,i]=a
	return df