In [216]:
import pandas as pd
import numpy as np

In [219]:
df=pd.read_csv(r"/home/prabhat/Desktop/pandas_pokemon/amay code/check.csv",encoding="utf-8")

In [220]:
df

  Name   Age  Subject Language
0     A  12.0     ABC         A
1   NaN  13.0     ABC         B
2     C  14.0     ABC         C
3     C  15.0     NaN         D
4     D  16.0     ABC         D
5   NaN   NaN     NaN       NaN
6     G  18.0     ABC         G

In [207]:
#copy all of this to remove.py
import pandas as pd
import numpy as np

class Remove_Row:
    #Function to remove full blank rows. 
    def fully_blank_rows(self,df):
        data=df
        # data = pd.read_csv(file_path,skip_blank_lines=True)

        #so here we have to use skip_blank_lines wherever we first import the data at, so that this is automatically done and we dont need to pass the filepath to this all over again. 
        data.dropna(how="all", inplace=True)
        return data #Just check if returning data like this is alright

        
    def remove_selected_blanks(self,cond,df):
        df.dropna(subset=cond,inplace=True)
        return df
        #here in cond we have to accept the list of columns in the format 
        #cond=["XYZ","ABC","DEF"]


    def conditional_removing_blanks(self,df):
        pass

In [208]:
cond={
	"group" : "row operations",
	"type" : "remove",
	"config" : {
		"all_blanks" : "NA",
		"selected_blanks" : {
			"column_list" : ["Hello","There"]
		},
		"condition" : "NA"
	}
}

In [209]:
print(cond["config"]["selected_blanks"]["column_list"])

['Hello', 'There']

In [210]:
def remove_selected_blanks(cond,df):
        df.dropna(subset=cond,inplace=True)
        return df

In [211]:
def column_exists_validator_conditional_blank_removal(self, cond, df):
        
        #if column doesn't exist 
        flag = True
        if cond["column"][1:-1] not in list(df.columns):
            flag = False
        try: 
            if cond["left_cond"][0] == '#':
                if cond["left_cond"][1:-1] not in list(df.columns):
                    flag = False
        except:
            print()
        
        try: 
            if cond["right_cond"][0] == '#':
                if cond["right_cond"][1:-1] not in list(df.columns):
                    flag = False
        except:
            print()
        
        if flag:
            return {"val" : flag, "details": ""}
        else:
            return {"val" : flag, "details":"column doesn't existing"}

In [267]:
 def conditional_removing_blanks_append_new_column(self,cond,df):
        
        mesg=self.column_exists_validator_conditonal_blank_removal(cond,df) 
        if not mesg["val"]:
            return msg
        #Checking columns exist or not 


        #If the middle column is empty, we fill them up 
        d_mid=df[cond["column"][1:-1]]
        if d_mid.dtype=="object":
            d_mid = d_mid.fillna(value="")
        if d_mid.dtype == 'float':
            d_mid = d_mid.fillna(value=0.0)
        if d_mid.dtype == 'int':
            d_mid = d_mid.fillna(value=0)

        middle_vals=list(d_mid)
        #Checking if the left and the right conditions are columns or, values filled up with na values

        left_vals = []
        right_vals = []
        try:
            if cond["left_cond"][0] == "#":
                d_left = df[cond["left_cond"][1:-1]]
                if df[cond["left_cond"][1:-1]].dtype == 'object':
                    d_left = d_left.fillna(value="")
                elif df[cond["left_cond"][1:-1]].dtype == 'float':
                    d_left = d_left.fillna(value=0.0)
                elif df[cond["left_cond"][1:-1]].dtype == 'int':
                    d_left = d_left.fillna(value=0)
                left_vals = list(d_left)
        except:
            print('')
        
        try:
            if cond["right_cond"][0] == "#":
                d_right = df[cond["right_cond"][1:-1]]
                if df[cond["right_cond"][1:-1]].dtype == 'object':
                    d_right = d_right.fillna(value="")
                elif df[cond["right_cond"][1:-1]].dtype == 'float':
                    d_right = d_right.fillna(value=0.0)
                elif df[cond["right_cond"][1:-1]].dtype == 'int':
                    d_right = d_right.fillna(value=0)
                right_vals = list(d_right)
        except:
            print('')
        
        final=[]
        df["ToRemove"]=""

        left_condition=cond["left_cond"]
        right_condition=cond["right_cond"]
        left_sign=cond["left_sign"]
        right_sign=cond["right_sign"]

        for i in range(len(middle_vals)):
            cnt=0

            

            if left_vals!=[]:
                left_condition=left_vals[i]
            if right_vals!=[]:
                right_condition=right_vals[i]

            if left_condition == "NA":
                    left_condition = ""
                    if right_condition == "NA":
                        right_condition = ""
                    if left_sign == "NA":
                        left_sign = ""
                    if right_sign == "NA":
                        right_sign = ""
                        
            middle = middle_vals[i]
            
            eval_str = ""
                
            if (left_vals != []) and (right_vals == []):
                eval_str = "left_vals[i]" + str(left_sign) + "middle_vals[i]" + str(right_sign) + str(right_condition)
            elif (right_vals != []) and (left_vals == []):
                eval_str = str(left_condition) + str(left_sign) + "middle_vals[i]" + str(right_sign) + "right_vals[i]"
            elif (left_vals != []) and (right_vals != []):
                eval_str = "left_vals[i]" + str(left_sign) + "middle_vals[i]" + str(right_sign) + "right_vals[i]"
            elif (left_vals == []) and (right_vals == []):
                eval_str = str(left_condition) + str(left_sign) + "middle_vals[i]" + str(right_sign) + str(right_condition)
            
            
            if eval(eval_str):
                final.append(True)
                break
            cnt+=1
            if cnt == len(cond):
                final.append(False)

        #Converting the final list into another column at the end of the dataframe.         
        df["ToRemove"]=pd.DataFrame(final)
        df=self.remove_incorrect_rows(cond,df)
        df.drop(columns=["ToRemove"])
        

#Based on the truth or false values based on, the last column that we append at the end of the df, we will remove values.
# In that, we'll also have to consider the fact that we might want to remove everything other than the said rows, therefore we must check for the truth or false values of the cond["remove"]

#Need to add self here
def remove_incorrect_rows(self,cond,df):

    removal=cond["remove"]
    removal=str(removal)
    if (removal=="True"):
        rows_to_remove=df[df['ToRemove']==True].index
        df.drop(rows_to_remove,inplace=True)
        
    else:
        rows_to_remove=df[df['ToRemove']==False].index
        df.drop(rows_to_remove,inplace=True)
    return df

In [272]:
final=[True,False,True,False,True,True,True]
df["ToRemove"]=pd.DataFrame(final)
df

     Unit Amt  Total Amt  Pending Days ToRemove
0     20000.0    20000.0         688.0     True
1    330000.0   330000.0         640.0    False
2     10169.0    10169.0         528.0     True
3     10169.0    10169.0         528.0    False
4     10169.0    10169.0         528.0     True
..        ...        ...           ...      ...
772   33000.0    33000.0           NaN      NaN
773    1000.0     1000.0           NaN      NaN
774       0.0        0.0           NaN      NaN
775       0.0        0.0           NaN      NaN
776   10500.0    10500.0           NaN      NaN

[777 rows x 4 columns]

In [150]:
final=[True,False,True,False,True,True,True]
df["ToRemove"]=pd.DataFrame(final)
cond={
	"group" : "row operations",
	"type" : "remove",
	"config" : {
		"all_blanks" : "NA",
		"selected_blanks" : "NA",
		"condition" : {
			"left_cond":0,
			"left_sign":"<",
			"column" : "Column name",
			"right_sign":"<=", 
			"right_cond":"10", 
			"removal" : "True"
		}	
    }
}
removal=cond["config"]["condition"]["removal"]
if (removal=="True"):
    rows_to_remove=df[df['ToRemove']==True].index
    df.drop(rows_to_remove,inplace=True)
    
else:
    rows_to_remove=df[df['ToRemove']==False].index
    df.drop(rows_to_remove,inplace=True)

in true

In [151]:
df

  Name   Age  Subject Language   ToRemove
1   NaN  13.0     ABC         B     False
3     C  15.0     NaN         D     False

In [281]:
df=pd.read_csv("a.csv",encoding="cp1252")

In [282]:
df.columns

Index(['#', 'SO Number', 'Document Internal ID', 'Posting Date',
       'Execution Date', 'Customer Name', 'ItemName', 'Pending Qty',
       'Unit Amt', 'Total Amt', 'Pending Days', 'Status',
       'Sales Employee Name', 'SO Pending', 'Order Branch Name',
       'Aging Range'],
      dtype='object')

In [283]:
l=['#', 'SO Number', 'Document Internal ID', 'Posting Date',
       'Execution Date', 'Customer Name', 'ItemName','Pending Qty','Status','Sales Employee Name','SO Pending','Order Branch Name','Aging Range']

In [285]:
df.drop(l,axis=1,errors="ignore",inplace=True)
df

     Unit Amt  Total Amt  Pending Days
0     20000.0    20000.0         688.0
1    330000.0   330000.0         640.0
2     10169.0    10169.0         528.0
3     10169.0    10169.0         528.0
4     10169.0    10169.0         528.0
..        ...        ...           ...
772   33000.0    33000.0           NaN
773    1000.0     1000.0           NaN
774       0.0        0.0           NaN
775       0.0        0.0           NaN
776   10500.0    10500.0           NaN

[777 rows x 3 columns]

In [286]:
a=df[["Unit Amt","Total Amt","Pending Days"]].copy()
final=[True,True,False,True,False,True,True,True,False,True,True]
a["ToRemove"]=pd.DataFrame(final)
a.head()

   Unit Amt  Total Amt  Pending Days ToRemove
0   20000.0    20000.0         688.0     True
1  330000.0   330000.0         640.0     True
2   10169.0    10169.0         528.0    False
3   10169.0    10169.0         528.0     True
4   10169.0    10169.0         528.0    False

In [287]:
cond={
	"group" : "row operations",
	"type" : "remove",
	"config" : {
		"all_blanks" : "NA",
		"selected_blanks" : "NA",
		"condition" : {
			"left_cond":0,
			"left_sign":"<",
			"column" : "Column name",
			"right_sign":"<=", 
			"right_cond":"0", 
			"remove" : "True"
		}	
    }
}

removal=cond["config"]["condition"]["remove"]
if (removal=="True"):
    rows_to_remove=a[a['ToRemove']==True].index
    a.drop(rows_to_remove,inplace=True)
    
else:
    rows_to_remove=a[a['ToRemove']==False].index
    a.drop(rows_to_remove,inplace=True)
a

     Unit Amt  Total Amt  Pending Days ToRemove
2     10169.0    10169.0         528.0    False
4     10169.0    10169.0         528.0    False
8       396.0      396.0         511.0    False
11     9500.0     9500.0         468.0      NaN
12     9500.0     9500.0         468.0      NaN
..        ...        ...           ...      ...
772   33000.0    33000.0           NaN      NaN
773    1000.0     1000.0           NaN      NaN
774       0.0        0.0           NaN      NaN
775       0.0        0.0           NaN      NaN
776   10500.0    10500.0           NaN      NaN

[769 rows x 4 columns]

In [261]:
b=remove_incorrect_rows(cond,a)

In [262]:
print(b)

None

In [270]:
test=pd.read_csv("a.csv",encoding="cp1252")

In [271]:
test

,#,SO Number,Document Internal ID,Posting Date,Execution Date,Customer Name,ItemName,Pending Qty,Unit Amt,Total Amt,Pending Days,Status,Sales Employee Name,SO Pending,Order Branch Name,Aging Range
0,1,6004,89728,07/20/2019,07/20/2019,MAHINDRA & MAHINDRA LIMITED,Installation Charges,1.0,20000.0,20000.0,688.0,NaN,Pankaj,Other Reason,Mumbai,>15 Days
1,2,8761,92651,09/06/2019,07/31/2021,VOLTEK ENGINEERING,LIEBERT 5 KVA LXI UPS,1.0,330000.0,330000.0,640.0,SO Pending for Material not -LIEBERT 5 KVA LXI...,Amar chavan,SO Pending for Material not available,Mumbai,>15 Days
2,3,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
3,4,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
4,5,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,773,3483,127360,06/07/2021,05/31/2021,MECHATRONICS SYSTEMS PRIVATE LIMITED,LIEBERT GXT MT + CX 3 KVA XB 16A UPS SYSTEM,1.0,33000.0,33000.0,NaN,NaN,Sachin Kasture,Other Reason,Pune,>7 Days
773,774,3483,127360,06/07/2021,05/31/2021,MECHATRONICS SYSTEMS PRIVATE LIMITED,100AH/70AH X 06 Nos Rack,1.0,1000.0,1000.0,NaN,NaN,Sachin Kasture,Other Reason,Pune,>7 Days
774,775,3483,127360,06/07/2021,05/31/2021,MECHATRONICS SYSTEMS PRIVATE LIMITED,NYVIN Cable 12U,4.0,0.0,0.0,NaN,NaN,Sachin Kasture,Other Reason,Pune,>7 Days
775,776,3483,127360,06/07/2021,05/31/2021,MECHATRONICS SYSTEMS PRIVATE LIMITED,Links U-12 25 Inch,5.0,0.0,0.0,NaN,NaN,Sachin Kasture,Other Reason,Pune,>7 Days
776,777,3487,127364,06/07/2021,NaN,MATCHWELL ENGINEERING PVT LTD,Comprehensive AMC,1.0,10500.0,10500.0,NaN,NaN,Sachin Kudale,Other Reason,Pune,>7 Days