In [4]:
import pandas as pd
import numpy as np

In [212]:
df=pd.read_csv("a.csv")

In [213]:
cond={
	"group" : "pivot operations",
	"task" : "create pivot",
	"config" : {
		"column" : "Aging Range", #choose column 
		"indexes" : ["Sales Employee Name","Pending Days"],  #list for nested pivots,
		"value" : "Total Amt", #choose column for value,
		"agg_func" : "mean", #sum, count, mean, distinct count
		"grand total column and row" :"True" #True, False
	}
}

In [214]:
df.head()

,#,SO Number,Document Internal ID,Posting Date,Execution Date,Customer Name,ItemName,Pending Qty,Unit Amt,Total Amt,Pending Days,Status,Sales Employee Name,SO Pending,Order Branch Name,Aging Range
0,1,6004,89728,07/20/2019,07/20/2019,MAHINDRA & MAHINDRA LIMITED,Installation Charges,1.0,20000.0,20000.0,688.0,NaN,Pankaj,Other Reason,Mumbai,>15 Days
1,2,8761,92651,09/06/2019,07/31/2021,VOLTEK ENGINEERING,LIEBERT 5 KVA LXI UPS,1.0,330000.0,330000.0,640.0,SO Pending for Material not -LIEBERT 5 KVA LXI...,Amar chavan,SO Pending for Material not available,Mumbai,>15 Days
2,3,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
3,4,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days
4,5,15140,99377,12/27/2019,06/30/2021,BALL BEVERAGE PACKING (INDIA) PVT LTD,Repair & Service Charges,1.0,10169.0,10169.0,528.0,THERMOGRAPHY PERIOD JUNE,Prashant Mohite,SO Pending Because of Special instrcutions fro...,Mumbai,>15 Days

In [215]:
col=cond["config"]["column"]
ind=cond["config"]["indexes"]
value=cond["config"]["value"]
agg_func=cond["config"]["agg_func"]
grd_total=cond["config"]["grand total column and row"]

if agg_func=="distinct count":
    table=pd.pivot_table(data=df,index=ind,values=value,columns=col,aggfunc=pd.Series.nunique)    
else :
    table=pd.pivot_table(data=df,index=ind,values=value,columns=col,aggfunc=[agg_func])
table
#-----------------------------
if grd_total=="True":
    table["Grand Total"]=table.sum(axis=1)
    # table.append(pd.Series(name=('','')))
    
    


def pivot_add(self,cond,df):
    m=Message()
    
    
    col=cond["config"]["column"]
    ind=cond["config"]["indexes"]
    value=cond["config"]["value"]
    agg_func=cond["config"]["agg_func"]
    grd_total=cond["config"]["grand total column and row"]

    if agg_func=="distinct count":
        table=pd.pivot_table(data=df,index=ind,values=value,columns=col,aggfunc=pd.Series.nunique)    
    else :
        table=pd.pivot_table(data=df,index=ind,values=value,columns=col,aggfunc=[agg_func])
    table
    if grd_total=="True":
        table["Grand Total"]=table.sum(axis=1)
        #Need to add the row of grand total here
    return table

In [216]:
table

                                          mean                 Grand Total
Aging Range                          >15  Days      >7  Days
Sales Employee Name Pending Days
AJITH KHEDEKAR      297.0         2.141585e+04           NaN  2.141585e+04
                    308.0         3.073460e+04           NaN  3.073460e+04
Abhishek Nagda      3.0                    NaN  1.150000e+03  1.150000e+03
                    17.0          2.564550e+03           NaN  2.564550e+03
                    19.0          2.156280e+04           NaN  2.156280e+04
                    31.0          2.293600e+03           NaN  2.293600e+03
Amar chavan         3.0                    NaN  1.557250e+05  1.557250e+05
                    5.0                    NaN  0.000000e+00  0.000000e+00
                    80.0          0.000000e+00           NaN  0.000000e+00
                    83.0          6.285000e+04           NaN  6.285000e+04
                    640.0         3.300000e+05           NaN  3.300000e+05
Asmita              1.0                    NaN  4.000000e+03  4.000000e+03
                    2.0                    NaN  8.984615e+03  8.984615e+03
                    5.0                    NaN  6.082000e+06  6.082000e+06
                    20.0          5.900000e+04           NaN  5.900000e+04
                    26.0          3.435000e+04           NaN  3.435000e+04
                    41.0          1.757500e+06           NaN  1.757500e+06
                    56.0          1.900000e+04           NaN  1.900000e+04
                    67.0          1.210000e+07           NaN  1.210000e+07
                    74.0          1.210000e+07           NaN  1.210000e+07
                    83.0          4.840000e+06           NaN  4.840000e+06
                    117.0         4.840000e+06           NaN  4.840000e+06
                    135.0         4.840000e+06           NaN  4.840000e+06
                    236.0         1.200000e+04           NaN  1.200000e+04
                    284.0         7.590000e+03           NaN  7.590000e+03
Chetan Chedda       75.0          7.000000e+03           NaN  7.000000e+03
Deven Gada          9.0           2.217600e+06           NaN  2.217600e+06
                    12.0          8.928571e+04           NaN  8.928571e+04
                    26.0          0.000000e+00           NaN  0.000000e+00
                    59.0          3.778714e+04           NaN  3.778714e+04
...                                        ...           ...           ...
Rajiv Nambiar       362.0         2.280000e+05           NaN  2.280000e+05
                    511.0         1.307250e+03           NaN  1.307250e+03
Ratnesh Tiwari      2.0                    NaN  1.447306e+04  1.447306e+04
                    4.0                    NaN  2.039490e+06  2.039490e+06
                    5.0                    NaN  0.000000e+00  0.000000e+00
                    24.0          1.313750e+04           NaN  1.313750e+04
                    44.0          1.205650e+04           NaN  1.205650e+04
                    49.0          1.313750e+04           NaN  1.313750e+04
                    79.0          1.263771e+04           NaN  1.263771e+04
                    91.0          1.800000e+03           NaN  1.800000e+03
Sachin Kasture      25.0          1.845763e+04           NaN  1.845763e+04
                    94.0          1.775714e+05           NaN  1.775714e+05
Sachin Kudale       2.0                    NaN  1.750000e+04  1.750000e+04
                    3.0                    NaN  9.000000e+03  9.000000e+03
                    5.0                    NaN  0.000000e+00  0.000000e+00
                    8.0                    NaN  2.400000e+04  2.400000e+04
                    28.0          3.246557e+04           NaN  3.246557e+04
                    34.0          1.461667e+04           NaN  1.461667e+04
                    47.0          0.000000e+00           NaN  0.000000e+00
                    79.0          6.560000e+04           NaN  6.560000e+04
Sagar Kemse         101.0         1.000000e+04           NaN  1.000000e+04
                    133.0         2.412500e+03           NaN  2.412500e+03
Sunny Kothmire      131.0         4.500000e+03           NaN  4.500000e+03
                    468.0         9.500000e+03           NaN  9.500000e+03
Umesh Sawakhande    3.0                    NaN  1.310500e+04  1.310500e+04
                    7.0                    NaN  5.289900e+03  5.289900e+03
                    104.0         3.114360e+03           NaN  3.114360e+03
Vinod KK            49.0          9.892000e+02           NaN  9.892000e+02
                    66.0          4.225000e+02           NaN  4.225000e+02
                    82.0          4.009015e+03           NaN  4.009015e+03

[155 rows x 3 columns]

In [217]:
row_sum=table.sum(axis=0)
# pd.concat([table,row_sum],axis=0,ignore_index=True)
print(row_sum)
print("###########")

             Aging Range
mean         >15  Days      4.993077e+07
             >7  Days       8.927650e+06
Grand Total                 5.885842e+07
dtype: float64
###########

In [218]:
# table.append(({"Grand Total":-1},),ignore_index=True)
# table.loc[("Grand Total","")]=table.sum(axis=0).values

In [219]:
table.sum(axis=0).values

array([49930773.82333733,  8927650.47898497, 58858424.3023223 ])

In [220]:
# table.append("Grand Total","")
table.loc[("Grand Total","")]=None
print(table .columns)
table.loc[("Grand Total","")][0]=table.sum(axis=0).values[0]
table.loc[("Grand Total","")][1]=table.sum(axis=0).values[1]
table.loc[("Grand Total","")][2]=table.sum(axis=0).values[2]

MultiIndex(levels=[[u'mean', u'Grand Total', u''], [u'>15  Days', u'>7  Days', u'']],
           codes=[[0, 0, 1, 2], [0, 1, 2, 2]],
           names=[None, u'Aging Range'])

In [221]:
table.loc[("Grand Total","")][2]

58858424.3023223